{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ ticker }} Details</title>
    <link rel="stylesheet" href="{% static 'myapp/styles2.css' %}">
</head>
<body>
    <h1>{{ ticker }}'s Competition</h1>
    <div>
        <h2>Companies similar to {{ ticker }}</h2>
        <ul>
            <li>Market Cap: {{ screen.0 }}</li>
            <li>Sector: {{ screen.1 }}</li>
            <li>Industry: {{ screen.2 }}</li>
        </ul>
        <a href="{{ link }}" target="_blank" rel="noopener noreferrer">find out more here</a>
    </div>
    <img width =1200px src="{% url 'pc' %}" alt="Stock info">
    <table>
        <thead>
            <tr>
                <th>Ticker</th>
                <th>Operating Margins</th>
                <th>Price-to-Sales (P/S)</th>
                <th>Revenue</th>
                <th>1-Year Growth</th>
                <th>3-Year Growth</th>
                <th>Market Cap</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
                <tr onclick="window.location.href='{% url 'details' item.Ticker %}'" style="cursor: pointer;">
                    <td>{{ item.Ticker }}</td>
                    <td>{{ item.operating_margins }}</td>
                    <td>{{ item.ps }} </td>
                    <td>{{ item.revenue }}</td>
                    <td>{{ item.1YearGrowth }} </td>
                    <td>{{ item.3YearGrowth }} </td>
                    <td>{{ item.mc }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <a class="return" href="/">Back to Tickers</a>
</body>
</html>
